/* Navbar container */


*{
  box-sizing: border-box;
}.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-bar img {
  width: 40px;
  height: auto;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 20px;
  margin:10px;
  border: 1px solid #d1d5db; /* soft gray */
  border-radius: 999px;

  background-color: white;
  color: #1f2937; /* dark gray */

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover effect */
.login-btn:hover {
  background-color: #f3f4f6;
  border-color: #9ca3af;
}

/* Arrow icon inside button */
.button-arrow {
  width: 14px;
  height: auto;
}